.banner-text{
    padding: 80px 120px;
    background-color:rgba(0, 0, 0,0.3);
}
.bg-cover{
    background-position: center center;
    background-size: cover;
}

.mask{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background:rgba(0, 0, 0,0.5);     // rgba(101, 101, 101, 0.4);
    height: 200px;
    line-height: 200px;
    color: #ffffff;
    opacity: 0;
}
.product_image{
    &:hover{
        .mask{
            cursor: pointer;
            opacity:1;
            
        }
        
    }
}